.hero {
  margin-top: 6rem;
}

.hero__subtitle {
  margin-top: 4.5rem;
  font-size: 1.1rem;
  color: rgb(125, 117, 117);
  font-weight: normal;
  text-align: center;
}

.hero__title {
  margin: 0;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  background-image: linear-gradient( 135deg, #f04014 10%, #af2bb8 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke: 0.07px rgb(1, 0, 0);
} 