.home__navbar_hero_container {
  background-color: rgba(221, 221, 221, 0.139);
  margin: 0;
  padding: 1.5rem;
  box-sizing: border-box;
}

.home__about_me_container {
  overflow-x: hidden;
  background-color: #02021e;
}

.home__projects {
  overflow-x: hidden;
  /* height: 60vh; */
  background-color: #02021e;
  padding: 5rem;
}

@media (max-width: 800px) {
  .home__projects {
    padding: 3rem;
  }
}