.navbar {
  background-color: #fff;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  justify-content: space-between;
  border: 1.7px solid #000;
  border-radius: 4px;
  z-index: 1;
}

.navbar__logo {
  margin: 1rem;
  font-weight: bold;
}

.navbar__navigation_container {
  display: flex;
  align-items: center;
}

.navbar__navigation {
  display: flex;
}

.navbar__navigation li {
  margin: 0 1rem;
}

.navbar__navigation li a {
  text-decoration: none;
}

.navbar__navigation li:hover {
  text-decoration: underline;
  color: #000;
}

.navbar__menu {
  display: none;
  
}

@media (max-width: 800px) { 
  .navbar__navigation li {
    font-size: 0.8rem;
  }
}

@media (max-width: 800px) {
  .navbar {
    height: 3rem;
  }
}

@media (max-width: 560px) {
  .navbar__navigation {
    display: none;
  }
  .navbar__menu {
    display: inline-block;
    font-size: 1.5rem;
    margin: 1rem;
  }
}